:root {
  --mainColor: #eaeaea;
  --secondaryColor: #fff;

  --borderColor: #c1c1c1;

  --mainText: black;
  --secondaryText: #4b5156;

  --themeDotBorder: #24292e;

  --previewBg: rgb(251, 249, 243, 0.8);
  --previewShadow: #f0ead6;

  --btnColor: black;
}
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}

h1,
h2,
h2,
h4,
h5,
h6 {
  font-family: "Russo One", sans-serif;
  color: var(--mainText);
  font-weight: 500;
}

p,
li,
span,
label,
input,
textarea {
  color: var(--secondaryText);
  font-family: "Roboto Mono", monospace;
  list-style: none;
}
a {
  text-decoration: none;
  color: #17a2b8;
}

body * {
  transition: 0.3s;
}

.s1 {
  background: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.s2 {
  background: var(--secondaryColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.main-container {
  width: 1100px;
  margin: 0 auto;
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

.greeting-wrapper {
  display: grid;
  text-align: center;
  align-items: center;
  min-height: 10em;
}

.intro-wrapper {
  background-color: var(--secondaryColor);
  margin-bottom: 80px;
  border: 1px solid var(--borderColor);
  border-radius: 5px;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

  display: grid;
  grid-template-columns: 1fr 1fr;

  grid-template-areas:
    "nav-wrapper nav-wrapper"
    "left-column right-column";
}

.left-column {
  grid-area: left-column;
  margin: 30px 0 30px 0;
}
.right-column {
  margin: 0;
  grid-area: right-column;
  display: grid;
  align-content: center;
  padding: 50px 0 130px 0;
}
.dots-wrapper {
  display: flex;
  padding: 5px;
}
#b1 {
  background-color: #fc6058;
}
#b2 {
  background-color: #fec02f;
}
#b3 {
  background-color: #2aca3e;
}

.browser-dot {
  background-color: black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 5px;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.nav-wrapper {
  grid-area: nav-wrapper;
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(201, 197, 197);
}

#navigation a {
  color: var(--mainText);
}

#navigation {
  margin: 0;
  padding: 10px;
}

#navigation li {
  display: inline-block;
  margin: 0 5px 0 5px;
}
#pfp {
  height: 300px;
  width: 300px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border-radius: 0.45em;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}
#theme-options-wrapper {
  display: flex;
  justify-content: center;
}

.theme-dot {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: black;
  margin: 5px;
  border: 2px solid var(--themeDotBorder);
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  transition: 0.3s ease-out;
}
.theme-dot:hover {
  border-width: 4px;
}

#light-mode {
  background-color: #fff;
}

#blue-mode {
  background-color: #3775af;
}
#green-mode {
  background-color: #4d702b;
}
#purple-mode {
  background-color: #a54c93;
}

#settings-note {
  font-size: 14px;
  font-style: bold;
  text-align: center;
}

#preview {
  width: 400px;
  height: fit-content;
  background-color: var(--previewBg);
  border: 1.5px solid #17a2b8;
  padding: 15px;
  position: relative;
}

#preview-shadow {
  width: 400px;
  height: 160px;
  background-color: var(--previewShadow);
  padding-top: 30px;
  padding-left: 30px;
  position: relative;
}
#preview h3,
p {
  text-align: center;
}

.corner {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  border: 1.5px solid #17a2b8;
  background-color: white;
  position: absolute;
}

#corner-tl {
  top: -5px;
  left: -5px;
}
#corner-tr {
  top: -5px;
  right: -5px;
}
#corner-bl {
  bottom: -5px;
  left: -5px;
}
#corner-br {
  bottom: -5px;
  right: -5px;
}

.more-abt-me-wrapper {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 10em;
  margin: 50px auto;
}

.card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "card1 card2 card3";
  margin-top: 30px;
}

.card {
  width: 280px;
  height: 360px;
  padding: 2rem 1rem;
  position: relative;
  margin: 0 15px 0 15px;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

  border: 1px solid var(--borderColor);
  background-color: var(--mainColor);
  border-radius: 1.75em;

  transition: 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card:hover {
  transform: translateY(20px);
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, black, rgb(65, 60, 60));
  opacity: 0;
  z-index: 2;
  transition: 0.5s all;
  border-radius: 1.75em;
}

.card:hover:before {
  opacity: 0.75;
}
.card img {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1.75em;
}

.card .info {
  position: relative;
  z-index: 3;
  opacity: 0;
  transform: translateY(30px);
}

.card .info p {
  color: white;
  letter-spacing: 1px;
}
#card-head {
  color: white;
  margin: 0;
}

.card:hover .info {
  opacity: 1;
  transform: translateY(0px);
}

#card1 {
  grid-area: card1;
}
#card2 {
  grid-area: card2;
}
#card3 {
  grid-area: card3;
}

#submit-btn {
  margin: 20px auto;
  width: 200px;
  padding: 10px 0;
  color: #fff;
  background-color: var(--btnColor);
  border: none;
  border-radius: 5px;
  transition: 0.3s;
}

#submit-btn:hover {
  transform: translate3d(3px);
  opacity: 0.7;
}
.input-field {
  width: 100%;
  padding-top: 10px 0;
  background-color: var(--secondaryColor);
  border-radius: 5px;
  border: 1px solid var(--borderColor);
  font-size: 14px;
}
#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 768px;
  border: 1px solid var(--borderColor);
  background-color: var(--mainColor);
  color: var(--mainText);
  padding: 15px;
  border-radius: 5px;
  margin: 50px auto 50px auto;
}
#contact-form label {
  line-height: 2.7em;
}

#contact-form textarea {
  min-height: 100px;
  font-size: 14px;
}

footer {
  background-color: var(--mainColor);
  color: var(--mainText);
  text-align: center;
  padding: 2em 0;
  margin: 0;
}

footer a {
  color: var(--mainText);
  letter-spacing: 1px;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-item {
  font-size: 32px;
  margin: 0 0.5em;
  transition: 0.3s;
}

.footer-link {
  font-size: 16px;
  font-weight: 350;
  transition: 0.3s;
}
.social-link {
  margin: 0 0.5em;
  transition: 0.3s;
}

.footer-link:hover {
  opacity: 0.7;
  font-size: 18px;
}
.social-link:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .main-container {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .intro-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav-wrapper"
      "left-column"
      "right-column";
  }
  .right-column {
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 150px;
  }
}

@media (max-width: 768px) {
  .card-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "card1"
      "card2"
      "card3";
  }
  .card {
    margin: 30px;
  }
}
